{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block navbar_padding %}{% endblock %}
{% block navbar %}{% endblock %}

{% block head %}
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    body {
        background-image: url('/static/images/pretty_food.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }

    .form-container {
        background-color: var(--bs-dark);
        border-radius: 12px;
        width: 33vw;
        min-width: 350px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .form-group {
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control", id="usernameFormInput", placeholder="Username", size=32) }}
                </div>
            </p>
            <p>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}<br>
                    {{ form.password(class="form-control", id="inputPassword2", placeholder="Password", size=32) }}
                </div>
            </p>
            <p>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </p>
            <p class="text-muted">
                <a href="/registration">Register</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}
